header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* justify-content: center; */
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

@media screen and (min-width: 0px) {
    #body {
        background-color: #FFF;

    }
}